<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"  />
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="workSpace" value="F:\projects\QYZ\luxianres\Design\09_关卡设计\副本编辑器数据" />
    <add key="name" value="yangliang" />
    <add key="password" value="" />
    <add key="serverPath" value="svn://svn.hotspot.cn/luxianres/Tools" />
    <add key="luaSpace" value="" />
    <add key="xmlSpace" value="F:\projects\QYZ\luxianres\csv\ectype\storylayoutconfig" />
    <add key="EctypeType0" value="剧情副本" />
    <add key="EctypeType1" value="单人爬塔" />
    <add key="EctypeType2" value="3v3竞技" />
  </appSettings>
</configuration>