<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="HegihtDataPath" value="D:\luxianres\branches\test826\GameWindows4.2.0\Data\config\map"/>
  </appSettings>
</configuration>
